
#p1::before {
    content: "Before ";
    color: red;
}

#p2::after {
    content: " After";
    color: blue;
}

p::first-letter {
    font-size: 200%;
    color: green;
}

#p3::first-line {
  color: rgb(123, 67, 70);
  font-size: 30px;
}

::selection {
  background: yellow;
}