h1{
    text-align: center;
    color: rgb(168, 115, 115);
    font-weight: bold;
    
    letter-spacing: 10px;
}

p{
    text-align: justify;
    font-weight: 900;
    text-decoration: pink line-through;
    line-height: 4.3;
    font-size: 30px;
    font-family:'arial', sans-serif;
}

a{
    text-decoration: none;
}